In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [ ]:
sales_data = {
    'order_id': [1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008],
    'customer_id': [501, 502, 501, 503, 502, 504, 501, 503],
    'product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Laptop', 'Mouse', 'Monitor', 'Keyboard'],
    'quantity': [1, 2, 1, 1, 2, 3, 1, 2],
    'price': [1200, 25, 75, 300, 1200, 25, 300, 75],
    'order_date': ['2024-01-15', '2024-01-16', '2024-01-16', '2024-01-17', 
                   '2024-01-18', '2024-01-19', '2024-01-20', '2024-01-20']
}
sales_df = pd.DataFrame(sales_data)

# Sample 2: Customer Data
customer_data = {
    'customer_id': [501, 502, 503, 504, 505],
    'customer_name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'email': ['alice@email.com', 'bob@email.com', 'charlie@email.com', 
              'diana@email.com', 'eve@email.com'],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
customer_df = pd.DataFrame(customer_data)

# Sample 3: Product Data with Missing Values
product_data = {
    'product_id': [1, 2, 3, 4, 5, 6],
    'product_name': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', None, 'Webcam'],
    'category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Electronics', None],
    'stock_quantity': [50, 200, 150, 75, None, 100],
    'supplier': ['SupplierA', 'SupplierB', 'SupplierA', 'SupplierC', 'SupplierA', 'SupplierB']
}
product_df = pd.DataFrame(product_data)

# Sample 4: Log Data
log_data = {
    'timestamp': pd.date_range('2024-01-01 00:00:00', periods=10, freq='h'),
    'user_id': [101, 102, 101, 103, 102, 101, 104, 103, 102, 101],
    'action': ['login', 'login', 'view', 'login', 'purchase', 'logout', 'login', 'view', 'logout', 'login'],
    'duration_seconds': [120, 150, 300, 100, 450, 10, 180, 250, 15, 200]
}
log_df = pd.DataFrame(log_data)

            timestamp  user_id    action  duration_seconds
0 2024-01-01 00:00:00      101     login               120
1 2024-01-01 01:00:00      102     login               150
2 2024-01-01 02:00:00      101      view               300
3 2024-01-01 03:00:00      103     login               100
4 2024-01-01 04:00:00      102  purchase               450
5 2024-01-01 05:00:00      101    logout                10
6 2024-01-01 06:00:00      104     login               180
7 2024-01-01 07:00:00      103      view               250
8 2024-01-01 08:00:00      102    logout                15
9 2024-01-01 09:00:00      101     login               200

# Question 1: Data loading and basic exploration
Task: Load a csv file and perform basic exploration

In [4]:
sales_df.to_csv('sales_data.csv', index=False)

In [11]:
df = pd.read_csv('sales_data.csv')

# 1. Display first 5 rows
df.head()

# 2. Display data types
df.dtypes

# 3. Summary statistics
df.describe()

# 4. Check for missing values
print("Missing values")
df.isnull().sum()
print("Percentage of missing values")
(df.isnull().sum() / len(df) * 100)

Missing values
Percentage of missing values

order_id       0.0
customer_id    0.0
product        0.0
quantity       0.0
price          0.0
order_date     0.0
dtype: float64

# Question 2: Data Type conversion
Task: convert the order_date column to datetime format and extract useful date components

In [19]:
# Convert to datetime
sales_df['order_date'] = pd.to_datetime(sales_df['order_date'])

# Extract date components
sales_df['year'] = sales_df['order_date'].dt.year
sales_df['month'] = sales_df['order_date'].dt.month
sales_df['day'] = sales_df['order_date'].dt.day
sales_df['day_of_week'] = sales_df['order_date'].dt.day_name()
sales_df['week_of_year'] = sales_df['order_date'].dt.isocalendar().week

sales_df[['order_date', 'year', 'month', 'day', 'day_of_week', 'week_of_year']]

  order_date  year  month  day day_of_week  week_of_year
0 2024-01-15  2024      1   15      Monday             3
1 2024-01-16  2024      1   16     Tuesday             3
2 2024-01-16  2024      1   16     Tuesday             3
3 2024-01-17  2024      1   17   Wednesday             3
4 2024-01-18  2024      1   18    Thursday             3
5 2024-01-19  2024      1   19      Friday             3
6 2024-01-20  2024      1   20    Saturday             3
7 2024-01-20  2024      1   20    Saturday             3

# Question 3: Handling missing data
Task: Handle missing data in product_df dataset using appropriate strategies

In [25]:
# Create a copy to avoid modifying original
product_clean = product_df.copy()

# 1. Fill missing product_name
product_clean['product_name'] = product_clean['product_name'].fillna('Unknown')

# 2. Fill missing category with mode
category_mode = product_clean['category'].mode()[0]
product_clean['category'] = product_clean['category'].fillna(category_mode)

# 3. Fill missing stock quantity with median
stock_median = product_clean['stock_quantity'].median()
product_clean['stock_quantity'] = product_clean['stock_quantity'].fillna(stock_median)

product_clean

   product_id product_name     category  stock_quantity   supplier
0           1       Laptop  Electronics            50.0  SupplierA
1           2        Mouse  Accessories           200.0  SupplierB
2           3     Keyboard  Accessories           150.0  SupplierA
3           4      Monitor  Electronics            75.0  SupplierC
4           5      Unknown  Electronics           100.0  SupplierA
5           6       Webcam  Electronics           100.0  SupplierB

# Question 4: Data Filtering and Selection
Task: Filter and select data based on multiple conditions.

In [37]:
# From sales_df
# 1. Orders where quantity > 1
high_quantity = sales_df[sales_df['quantity'] > 1]
high_quantity

# 2. Laptop or Monitor orders
selected_products = sales_df.loc[sales_df['product'].isin(['Laptop', 'Monitor'])]
selected_products

# 3. Orders from 18 Jan onwards
recent_orders = sales_df.loc[sales_df['order_date'] >= '2024-01-18']
recent_orders

# 4. Multiple conditions with AND
filtered = sales_df.loc[(sales_df['price'] > 100) & (sales_df['quantity'] > 1)]
filtered

# Alternative: Using query method (more readable for complex conditions)
filtered_query = sales_df.query('price > 100 and quantity > 1')
filtered_query

,order_id,customer_id,product,quantity,price,order_date,year,month,day,day_of_week,week_of_year
4,1005,502,Laptop,2,1200,2024-01-18,2024,1,18,Thursday,3

# Question 5: Aggregations and Group By
Task: Perform aggregations to generate summary statistics.

In [43]:
# from sales_df
# Add revenue column first
sales_df['revenue'] = sales_df['price'] * sales_df['quantity']

# 1. Total revenue by product
revenue_by_product = sales_df.groupby('product')['revenue'].sum().sort_values(ascending=False)
revenue_by_product

# 2. Count orders by customer
orders_by_customer = sales_df.groupby('customer_id')['order_id'].count()
orders_by_customer

# 3. Average order value by customer
avg_order_value = sales_df.groupby('customer_id')['revenue'].mean()
avg_order_value

# 4. Date with highest total sales
daily_sales = sales_df.groupby('order_date')['revenue'].sum().sort_values(ascending=False)
daily_sales

# Multiple aggregations at once
summary = sales_df.groupby('product').agg({
    'quantity': ['sum', 'mean'],
    'revenue': ['sum', 'mean', 'max'],
    'order_id': 'count'
})
summary

         quantity      revenue               order_id
              sum mean     sum    mean   max    count
product
Keyboard        3  1.5     225   112.5   150        2
Laptop          3  1.5    3600  1800.0  2400        2
Monitor         2  1.0     600   300.0   300        2
Mouse           5  2.5     125    62.5    75        2

# Question 6: Joining DataFrames
Task: Merge sales data with customer data to enrich the dataset.

In [54]:
# Inner join (only matching records)
inner_join = sales_df.merge(customer_df, on='customer_id', how='inner')
print(inner_join[['order_id', 'customer_id', 'customer_name', 'city', 'product', 'revenue']])

# Left join (all sales records, matching customer info where available)
left_join = sales_df.merge(customer_df, on='customer_id', how='left')
print(f"Number of rows: {len(left_join)}")

# Right join (all customers, matching sales where available)
right_join = sales_df.merge(customer_df, on='customer_id', how='right')
print(right_join[['customer_id', 'customer_name', 'order_id', 'product']].sort_values('customer_id'))

# Outer join (all records from both)
outer_join = sales_df.merge(customer_df, on='customer_id', how='outer')
print(f"Number of rows: {len(outer_join)}")

   order_id  customer_id customer_name         city   product  revenue
0      1001          501         Alice     New York    Laptop     1200
1      1002          502           Bob  Los Angeles     Mouse       50
2      1003          501         Alice     New York  Keyboard       75
3      1004          503       Charlie      Chicago   Monitor      300
4      1005          502           Bob  Los Angeles    Laptop     2400
5      1006          504         Diana      Houston     Mouse       75
6      1007          501         Alice     New York   Monitor      300
7      1008          503       Charlie      Chicago  Keyboard      150
Number of rows: 8
   customer_id customer_name  order_id   product
0          501         Alice    1001.0    Laptop
1          501         Alice    1003.0  Keyboard
2          501         Alice    1007.0   Monitor
3          502           Bob    1002.0     Mouse
4          502           Bob    1005.0    Laptop
5          503       Charlie    1004.0   Monitor
6          503       Charlie    1008.0  Keyboard
7          504         Diana    1006.0     Mouse
8          505           Eve       NaN       NaN
Number of rows: 9

# Question 7: Removing Duplicates
Task: Identify and remove duplicate records from the dataset.

In [68]:
#  Create a dataset with duplicates
sales_with_dupes = pd.concat([sales_df, sales_df.iloc[[0, 2, 4]]], ignore_index=True)
sales_with_dupes

# 1. Remove complete duplicate rows
no_dupes = sales_with_dupes.drop_duplicates()
print(f"Number of rows: {len(no_dupes)}")

# 2. Remove duplicates based on specific columns
# Keep only first occurrence of each order_id
no_order_dupes = sales_with_dupes.drop_duplicates(subset=['order_id'], keep='first')
print(f"Number of rows: {len(no_order_dupes)}")

# 3. Keep last occurrence instead
no_order_dupes_last = sales_with_dupes.drop_duplicates(subset=['order_id'], keep='last')
print(f"Number of rows: {len(no_order_dupes_last)}")

# 4. Identify duplicates without removing
duplicates = sales_with_dupes.duplicated(subset=['order_id'], keep=False)
duplicates.sort_values()

# 5. Count duplicates
duplicate_counts = sales_with_dupes.groupby('order_id').size()
duplicate_counts = duplicate_counts[duplicate_counts > 1]
print(duplicate_counts)

Number of rows: 8
Number of rows: 8
Number of rows: 8
order_id
1001    2
1003    2
1005    2
dtype: int64

# Question 8: Pivot Tables and Reshaping
Task: Create pivot tables to reshape and summarize data.

In [ ]:
# Create a pivot table showing total revenue by product and customer
# Reshape data from long to wide format

# 1. Basic pivot table
pivot = sales_df.pivot_table(
    values='revenue',
    index='product',
    columns='customer_id',
    aggfunc='sum',
    fill_value=0
)
print("Pivot table - Revenue by Product and Customer:")
print(pivot)

# # 2. Multiple aggregation functions
pivot_multi = sales_df.pivot_table(
    values='revenue',
    index='product',
    columns='customer_id',
    aggfunc=['sum', 'count', 'mean'],
    fill_value=0
)
print("Pivot with multiple aggregations:")
print(pivot_multi)

# # 3. Pivot with margins (totals)
pivot_with_totals = sales_df.pivot_table(
     values='revenue',
    index='product',
    columns='customer_id',
    aggfunc='sum',
    fill_value=0,
    margins=True,
    margins_name='Totals'
)
print("Pivot table with totals:")
print(pivot_with_totals)

# 4. Unpivot (melt) - convert wide to long format
wide_data = pd.DataFrame({
    'date': ['2024-01-01', '2024-01-02', '2024-01-03'],
    'product_A_sales': [100, 150, 120],
    'product_B_sales': [80, 90, 100],
    'product_C_sales': [200, 180, 220]
})

long_data = wide_data.melt(
    id_vars=['date'],
    value_vars=['product_A_sales', 'product_B_sales', 'product_C_sales'],
    var_name='product',
    value_name='sales'
)
print("Melted (unpivoted) data:")
print(long_data)

Melted (unpivoted) data:
         date          product  sales
0  2024-01-01  product_A_sales    100
1  2024-01-02  product_A_sales    150
2  2024-01-03  product_A_sales    120
3  2024-01-01  product_B_sales     80
4  2024-01-02  product_B_sales     90
5  2024-01-03  product_B_sales    100
6  2024-01-01  product_C_sales    200
7  2024-01-02  product_C_sales    180
8  2024-01-03  product_C_sales    220

# Question 9: Apply and Lambda Functions
Task: Use apply() and lambda functions for custom transformations.

In [ ]:
# 1. simple lambda with apply
sales_df['total_value'] = sales_df.apply(lambda row: row['price'] * row['quantity'], axis=1)
print("Total value calculated:")
print(sales_df[['order_id', 'price', 'quantity', 'total_value']])

# 2. Custom function with multiple conditions
def categorize_order(row):
    if row['total_value'] >= 1000:
        return 'High Value'
    elif row['total_value'] >= 100:
        return 'Medium value'
    else:
        return 'Low value'
    
sales_df['order_category'] = sales_df.apply(categorize_order, axis=1)
print("Order categorization:")
print(sales_df[['order_id', 'total_value', 'order_category']])

# 3. Apply discount based on quantity
def discount(quantity):
    if quantity >= 3:
        return 0.15
    elif quantity >= 2:
        return 0.10
    else:
        return 0.0

sales_df['discount_rate'] = sales_df['quantity'].apply(discount)
sales_df['discount_amount'] = sales_df['total_value'] * sales_df['discount_rate']
sales_df['final_price'] = sales_df['total_value'] - sales_df['discount_amount']
print("Discount calculation:")
print(sales_df[['order_id', 'quantity', 'total_value', 'discount_rate', 'discount_amount', 'final_price']])

# 4. Using map for simpler transformations (faster than apply)
product_weight = {
    'Laptop': 2.5,
    'Mouse': 0.1,
    'Keyboard': 0.8,
    'Monitor': 5.0
}
sales_df['weight_kg'] = sales_df['product'].map(product_weight)
sales_df['total_weight'] = sales_df['weight_kg'] * sales_df['quantity']
print("Weight calculation using map:")
print(sales_df[['order_id', 'product', 'quantity', 'weight_kg', 'total_weight']])

# 5. Vectorized operations (most efficient)
# Instead of: df.apply(lambda x: x['price'] * 1.1, axis=1)
# Use: df['price'] * 1.1

sales_df['price_with_tax'] = sales_df['price'] * 1.08
print("Vectorized operation (fastest):")
print(sales_df[['order_id', 'price', 'price_with_tax']])

Vectorized operation (fastest):
   order_id  price  price_with_tax
0      1001   1200          1296.0
1      1002     25            27.0
2      1003     75            81.0
3      1004    300           324.0
4      1005   1200          1296.0
5      1006     25            27.0
6      1007    300           324.0
7      1008     75            81.0

# Question 10: Time Series Operations
Task: Work with time-series data for resampling and date-based analysis.

In [ ]:
# Set timestamp as index
log_ts = log_df.set_index('timestamp')

# 1. Resample to hourly frequency and count actions
hourly_counts = log_ts.resample('h')['action'].count()
print("Hourly action counts")
print(hourly_counts)

# 2. Resample to 2-hour intervals with sum of duration
two_hour_duration = log_ts.resample('2h')['duration_seconds'].sum()
print('Total duration every 2 hours')
print(two_hour_duration)

# 3. Multiple aggregations with resample
hourly_stats = log_ts.resample('h').agg({
    'user_id': 'count',
    'duration_seconds': ['sum', 'mean']
})
print("Hourly statistics:")
print(hourly_stats)

# 4. Calculate time difference
log_sorted = log_df.sort_values(['user_id', 'timestamp'])
log_sorted['time_since_last_action'] = log_sorted.groupby('user_id')['timestamp'].diff()
print("Time since last action:")
print(log_sorted[['timestamp', 'user_id', 'action', 'time_since_last_action']])

Time since last action:
            timestamp  user_id    action time_since_last_action
0 2024-01-01 00:00:00      101     login                    NaT
2 2024-01-01 02:00:00      101      view        0 days 02:00:00
5 2024-01-01 05:00:00      101    logout        0 days 03:00:00
9 2024-01-01 09:00:00      101     login        0 days 04:00:00
1 2024-01-01 01:00:00      102     login                    NaT
4 2024-01-01 04:00:00      102  purchase        0 days 03:00:00
8 2024-01-01 08:00:00      102    logout        0 days 04:00:00
3 2024-01-01 03:00:00      103     login                    NaT
7 2024-01-01 07:00:00      103      view        0 days 04:00:00
6 2024-01-01 06:00:00      104     login                    NaT